/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel-wrapper{
    width: 300px;
    padding-bottom: 5px;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}


.jcarousel-control-prev {
    display: block;

    position:absolute;
    width:15px;
    height:15px;
    left:0;
    top:40%;
    background:url(../image/image-caroucel-prev.png) -11px 50% no-repeat #ec1919;
}

.jcarousel-control-next {
    display: block;

    position:absolute;
    width:15px;
    height:15px;
    right:0;
    top:40%;
    background:url(../image/image-caroucel-next.png) 6px 50% no-repeat #ec1919;
}

.jcarousel-control-prev:hover, .jcarousel-control-next:hover{
    background-color: #3A3637;
}

.jcarousel .inactive{
    background-color: #3A3637 !important;
}
