/********************************************************************************************************************************************************************************/
/* menu */
#menu {
	padding:0 20px 20px;
	position:relative;
	background:url(../image/header.png) repeat-x left bottom;
}
#menu:after {
	content:'';
	width:1px;
	height:60px;
	position:absolute;
	right:0px;
	top:0px;
	}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	
}
#menu > ul > li:first-child {margin-left:0px;}
#menu > ul > li {
	float: left;
	z-index: 10;
	text-align:center;
	margin:0 3px;
	position:relative;
}
#menu > ul > li > a {
	z-index: 1;
	display:block;
	color:#535355;
	font-size:19px;
	text-decoration:none;
	text-transform:uppercase;
	line-height:27px;
	font-family: 'Cuprum', sans-serif;
	padding:5px 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    font-weight: bold;
}

#menu > ul > li > ul > li a{

}

#menu > ul > li > a:hover, #menu > ul > li.sfHover > a, #menu > ul > li.active > a   {
	color:#fff; 
	background:#7A0000;
}
#menu > ul > li  ul {
	display: none;
	position: absolute; 
	z-index: 99;
	background:#0A0A0C;
	left:0px;
	top:37px;
    max-width: 200px;
	margin:0 !important;
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li ul + ul {
	padding-left: 0px;
	min-height:162px;
}
#menu > ul  li.last { }
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding:0px 0px 0px 0px;
	color: #acacac;
	display: block;
	white-space: nowrap;
}
#menu > ul > li ul > li.last > a{ }
#menu > ul > li ul > li > a:hover, #menu > ul > li ul > li.active > a, #menu > ul > li ul > li.sfHover > a {
	color:#FFF;
	background:#383839;
}
#menu > ul > li > ul > li  a.active, #menu > ul > li > ul >  li:hover, #menu > ul > li > ul > li.active {
	color:#fff; 
	background:#383839;
	}
#menu > ul > li > ul  li:first-child {border-top:0px;}
#menu > ul > li > ul  li { 
	position:relative;
	border-top:1px solid #757577; 
	
	}
#menu > ul > li > ul > li  a {
	color: #ffffff;
	font-size:13px;
	text-transform:none;
	line-height:24px;
	text-align:left;
	display:block;
	padding:5px 10px;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase

}

#menu ul > li ul ul  { 
	position:absolute;
	left:164px;
	top:0px;


} 

#menu ul > ul > li ul li a:hover, #menu ul > ul > li ul li a.active { 
	color:#fff; 
	}
